
div {
  display: flex;
  width: 65px;
  height: 80px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1.5px darkgray;
  border-radius: 15px;
  font-size: 3em;
  cursor: pointer;
}

div:hover {
  box-shadow: 0px 0px 2px 4px darkgray;
}

span {  
  justify-content: center;
  align-items: center;
  color: lightslategrey;
  /* opacity: 0; */
}

