div {
  display: inline-grid;  
  width: 150px;
  height: 150px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
}
